div.group-icon-widget
{
    display: none;
}

div.group-icon-widget-mobile div 
{
    display: inline-flex; 
    background-size: 17px 17px; 
    width: 17px; 
    height: 17px;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
}

div.group-icon-widget-mobile
{
    overflow-x: auto;
    order: 5;
    max-height: 17px;
    display: inline-block;
    flex-basis: 100%;
}

.d-editor-button-bar
{
    overflow-x: auto;
}
.select-kit-body
{ 
    left: unset;
    right: 0px;  
    bottom: 50px; 
    top: auto; 
    position: fixed;
    width:250px;
}