.topic-avatar .avatar-flair,
.collapsed-info .user-profile-avatar .avatar-flair
{
    background-size: 17px 17px !important; 
    width: 17px !important; 
    height: 17px !important; 
    font-size: 0.8em !important;
}

.topic-avatar .avatar-flair
{
    bottom: -5px !important; 
    right: -8px !important; 
}

.signature-counter
{
    display: inline-block;
}
