.topic-avatar .avatar-flair,
.collapsed-info .user-profile-avatar .avatar-flair
{
    background-size: 17px 17px !important; 
    width: 17px !important; 
    height: 17px !important; 
    font-size: 0.8em !important;
}

.topic-avatar .avatar-flair
{
    bottom: -5px !important; 
    right: -8px !important; 
}

div.user-signature
{
    border-top:1px solid lighten($primary, 75%);
    padding-top:4px;
}

.signature-counter
{
    display: inline-block;
}

div.user_trust_level_0
{
    background-image:url('/plugins/discourse-post-user-extras/images/baseball-cap.png');
}

div.user_trust_level_1
{
    background-image:url('/plugins/discourse-post-user-extras/images/star.png');
}
div.user_trust_level_2
{
    background-image:url('/plugins/discourse-post-user-extras/images/crown.png');
}

div.user_trust_level_3
{
    background-image:url('/plugins/discourse-post-user-extras/images/diamond.png');
}

div.user_trust_level_4
{
    background-image:url('/plugins/discourse-post-user-extras/images/yin-yang.png');
}

div.user_moderator
{
    background-image:url('/plugins/discourse-post-user-extras/images/firewall2.png');
}

div.user_admin
{
    background-image:url('/plugins/discourse-post-user-extras/images/firewall.png');
}
